@import url(style.css);
@import url(side-bar.css);

header {
    display: flex;
    flex-direction: row;
    height: 175px;
    background-color: var(--header-background);
}

header .televendas-box {
    border-bottom-left-radius: 25px;
    background-color: var(--primary-color);
}

.header-logo {
    padding-left: 50px;
}

body.dark header .header-logo {
    color: var(--primary-color);
}

header .televendas-box:hover {
    position: relative;
    opacity: 1;
}

header .header-top-link {   
    width: max-content;
    margin-top: -5px;
}

header .header-top-link div a:hover {
    color: var(--primary-color) !important;
}

header .header-autosuggestion-links {
    height: 70px;
    padding: 5px;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

header .header-autosuggestion-links a > img {
    padding-right: 5px;
    padding-bottom: 5px;
}

header .header-bottom-link li {
    top: 0;
    left: 20px;
    transition: 0.5s;
    opacity: 1;
}

.header-bottom-link .nav-item > .nav-link .icon,
.header-bottom-link .nav-item > .nav-link img {
    color: var(--text-color);
}

.header-bottom-link .nav-link .text {
    color: var(--text-color);
}

header .header-bottom-link li:active {
    background-color: transparent;
}