@import url(./style.css);
@import url(./side-bar.css);

header {
    display: flex;
    flex-direction: row;
    height: 175px;
    background-color: var(--header-background);
}

.header-logo {
    padding-left: 50px;
}

header .televendas-box {
    border-bottom-left-radius: 25px;
    background-color: var(--primary-color);
}

header .televendas-box:hover {
    position: relative;
    opacity: 1;
}

header .header-top-link {   
    width: 100%;
    margin-top: -5px;
    display: fixed;
}

header .header-autosuggestion-links {
    height: 70px;
    padding: 5px;
    background-color: var(--primary-color-light);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: var(--primary-color-light);
}

header .header-autosuggestion-links a > svg {
    padding-right: 5px;
    padding-bottom: 5px;
}

header .header-bottom-link li {
    top: 0;
    left: 20px;
    transition: 0.5s;
    opacity: 1;
}

.header-bottom-link .nav-link .text {
    color: var(--text-color);
}

header .header-bottom-link li:active {
    background-color: transparent;
}

header .hospedagens {
    color: #1519ff;
}