
body {
    margin: 0;
    padding: 0;
    background: #E4E9F7;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    height: 175px;
    background-color: #F0F1F2;
}

.header-logo {
    padding-left: 50px;
}

header .televendas-box {
    border-bottom-left-radius: 25px;
    background-color: #1519ff;
}

header .televendas-box:hover {
    position: relative;
    opacity: 1;
}

header .header-top-link {   
    width: 100%;
    margin-top: -5px;
    display: fixed;
}

header .header-autosuggestion-links {
    height: 70px;
    padding: 5px;
    background-color: #EEEEEE;
}

header .header-autosuggestion-links a > svg {
    padding-right: 5px;
    padding-bottom: 5px;
}

header .header-bottom-link li {
    top: 0;
    left: 20px;
    transition: 0.5s;
    opacity: 1;
}

header .header-bottom-link li:active {
    background-color: transparent;
}

header .hospedagens {
    color: #1519ff;
}