@import url(style.css);
@import url(side-bar.css);

.hospedagens {
    background: #ccb7fa;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--hospedagem-bg);  
    border-radius: 10px;
}

.hospedagens div .title {
    color: #FFF;
}