

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #FFF;
}

.side-bar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.side-bar .image-text .image .horizon {
    font-size: 16px;
    font-weight: 500;
    color: #007bff;
}

.side-bar .image-text img {
    width: 150px;
    border-radius: 6px;
    min-width: 60px;
    align-items: center;
}

.side-bar.image-text {
    display: flex;
    align-items: center;
}

