@import url(./side-bar.css);
@import url(./header.css);

:root {
    /* Modo Claro */
    --header-background: #f8f9fa;
    --body-background: #E4E9F7;
    --side-bar-background: #fff;
    --primary-color: #550fed;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDD;
    --text-color: #707070;

    /* Modo Claro - Hospedagem */
    --hospedagem-bg: #550fed;    /* Fundo da caixa roxa */
    --btn-bg: #F6F5FF; /* Fundo do botão (Hotéis/Temporada) */
    --btn-text: #FFF;
    --btn-text-hover: #550fed;      /* Tesxto dentro do botão */
    --btn-icon-hover: #550fed;      /* Ícone dentro do botão */
}

body {
    height: 100vh;
    padding-left: 60px;
    background-color: var(--body-background);
}

.btn-group input[type="radio"] {
    display: none;
}

/* 2. Estilo base do botão (Label) - Seu estado roxo com borda branca */
.btn-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
    padding: 0 16px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin: 10px;
    background-color: var(--primary-color);
    border: 1px solid #FFF;
    color: #FFF;
}

.btn-item .icon, .btn-item span {
    color: #FFF;
}

/* ------------------------------------------------ */

/* 3. A MÁGICA: Estilo quando o input estiver SELECIONADO (CHECKED) 
   O seletor '+' pega o label que vem logo após o input marcado */
.btn-group input[type="radio"]:checked + .btn-item {
    background-color: #FFF;
    border: 1px solid var(--primary-color);
}

.btn-group input[type="radio"]:checked + .btn-item .icon,
.btn-group input[type="radio"]:checked + .btn-item span {
    color: var(--primary-color) !important;
}

/* 4. Mantendo o efeito de HOVER para os não selecionados */
.btn-item:hover {
    background-color: #FFF;
    opacity: 0.9; /* Um leve feedback visual */
    color: var(--primary-color);
}

.btn-item:hover .icon, .btn-item:hover span {
    color: var(--primary-color);
}

footer {
    background-color: #f1f2f3;
}

.card {
    cursor: pointer;
}