:root {
    --header-background: #f8f9fa;
    --body-background: #E4E9F7;
    --side-bar-background: #fff;
    --primary-color: #550fed;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDD;
    --text-color: #707070;
}

body {
    height: 100vh;
    overflow-y: auto;
    background-color: var(--body-background);
}

body.dark {
    --header-background: #160900;
    --body-color: #18191A;
    --side-bar-background: #242526;
    --primary-color: #550fed;
    --primary-color-light: #3A3B3C;
    --toggle-color: #fff;
    --text-color: #FFF;
}